/* catalogo.css */
#catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 600%;         
    height: 300px;       
    object-fit: contain;  
    border-radius: 1rem 1rem 0 0;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

.objetivo img {
   width: 900%;         
   height: 300px;       
   object-fit: contain;  
   border-radius: 1rem 1rem 0 0; 
}

.producto img {
    width: 400%;         
    height: 150px;       
    object-fit: contain;  
    border-radius: 1rem 1rem 0 0; 

}



.disponible {
    color: rgba(127, 11, 200, 0.813);
}

.agotado {
    color: red;
}
